<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RomSources" value="D:\Emulators\SNES\Roms\NTSC;D:\Emulators\SNES\Roms\NTSC-J;D:\Emulators\SNES\Roms\PAL;D:\Emulators\SNES\Roms\Hacks and Translations;D:\github\smelt\Smelt\Smelt.Tests\Test Roms"/>
  </appSettings>
</configuration>